<% provide :title, t("home") %>
<div class="container">
  <%= render "shared/search_form" %>
  <div class="now-list-restaurant deal-tab">
    <div class="list-restaurant clearfix">
      <div class="now-loading-restaurant">
        <%= render partial: "restaurants/box_loading",
          collection: @restaurants %>
      </div>
      <%= render partial: "restaurants/restaurant",  collection: @restaurants %>
    </div>
    <div><center><%= paginate @restaurants %></center></div>
  </div>
</div>
