<%= search_form_for @q do |f| %>
  <div class="form-search">
    <div class="input-group">
      <%= f.search_field :name_or_address_cont,
        {class: "form__control has-icon list-restaurant__search",
        placeholder: t("search_res")} %>
      <%= f.button type: "submit", class: "btn btn-search" do %>
        <span class="fas fa-search icon icon-search"></span>
      <% end %>
    </div>
  </div>
<% end %>
