<div class="container">
  <%= render "shared/search_form" %>
  <% if @restaurants.present? %>
    <div class="now-list-restaurant deal-tab">
      <div class="list-restaurant clearfix">
        <div class="now-loading-restaurant">
          <%= render "box_loading", collection: @restaurants %>
        </div>
        <%= render @restaurants %>
      </div>
      <center><%= paginate @restaurants %></center>
    </div>
  <% end %>
</div>
