@import 'color.scss';

body {
  margin: 0;
  font-family: Noto Sans,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: $gray-dark;
  text-align: left;
  background-color: $gray-light;
}

h1, .h1 {
  font-size: 36px;
  display: flex;
  justify-content: center;
}
*, :after, :before {
  box-sizing: border-box;
}

.wrapper {
  padding-top: 70px;
}

.container, .container-fluid {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.alert {
  padding: 15px;
  margin: 20px 50px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: $info;
}

.alert-success {
  color: $success;
}

.alert-danger {
  color: $danger;
}

.btn {
  color: $blue;
  background-color: $white;
  background-color: $blue;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid $blue;
  border-radius: 6px;
  padding: .23rem .6rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 3px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,
  border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-none-bg {
  background-color: transparent;
  transition: .1s ease;
}

.btn-reset {
  font-size: 11px;
  cursor: pointer;
  color: $red;
  line-height: 20px;
  display: inline-block;
  padding: 0 7px;
  background-color: $white;
  border-radius: 2px;
  border: 1px solid $red;
}

.txt-bold {
  font-weight: 700!important;
}

.txt-center {
  text-align: center!important;
}

a {
  color: $blue;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/* header */
.container-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: $white;
  height: 70px;
  padding-top: 13px;

  .header-content {
    position: relative;
    margin: 0;
    min-height: 42px;
  }

  .logo-now {
    position: absolute;
    top: 0;
    right: 100%;
    cursor: pointer;
    margin-right: 10px;
    padding-left: 0;
  }

  .logo-now {
    position: static;
  }

  .btn-login, .dropbtn {
    padding: 7px 12px;
    background-color: $white;
  }

  .btn-login:hover, .dropbtn:hover {
    color: $white;
    background-color: $blue;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    left: auto;
    display: none;
    position: absolute;
    background-color: $white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px $gray-medium-lighter;
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {background-color: $gray-light;}

  .show {display: block;}
}

.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}

.justify-content-between {
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}

.main-nav {
  padding-left: 20px;
  padding-right: 0;
  white-space: nowrap;

  .nav-item.active {
    color: $blue;
    font-weight: 700;
    border-bottom-color: $blue;
  }

  .nav-item {
    color: $darker;
    cursor: pointer;
    padding: 10px 15px 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 4px solid transparent;
  }
}

/* homepage */
.form-search {
  padding: 20px 50px 10px;
  position: relative;
}

.form-search .input-group input {
  width: 100%;
  padding-right: 75px;
  padding-left: 10px;
  height: 50px;
  border: 0;
  border-radius: 6px 10px 10px 6px;
}

.form-search .btn-search {
  width: 70px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 6px 6px 0;
  padding-top: 11px;
}

.btn-search {
  display: inline-block;
  background-color: $blue;
}

.icon-search {
  width: 25px;
  height: 25px;
  background-position: -14px -15px;
}

.icon {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.now-list-restaurant {
  padding: 13px 40px 10px;
  border: 1px solid $gray-medium-light;
  background-color: $white;
}

.now-list-restaurant {
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
}

.now-list-restaurant .list-restaurant {
  margin: 0 -8px;
}

.now-list-restaurant .list-restaurant {
  margin: 0 -10px;
  position: relative;
}

.now-loading-restaurant {
  z-index: 2;
  display: none;
  overflow: hidden;
}

.now-loading-restaurant {
  background-color: $white;

  .box-loading {
    width: 20%;
    padding: 8px;
    float: left;
    height: 235px;
    background-color: $white;
    margin-bottom: 6px;
  }

  [class*=box-line] {
    height: 8px;
    margin-bottom: 10px;
  }

  [class*=box-line] {
    height: 12px;
    width: 400px;
    background: $gray-medium-light;
    margin-bottom: 13px;
    display: block;
    float: left;
  }

  .box-thumbnail, .now-loading-restaurant
  [class*=box-line] {
    animation: b;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(90deg,$gray-medium-lighter 8%,
      $gray-medium-light 18%,$gray-medium-lighter 33%);
    background-size: 800px auto;
  }

  .box-thumbnail {
    height: 137px;
    width: 100%;
    float: left;
    display: block;
    margin-bottom: 10px;
  }

  .box-line-df {
    width: 60%;
  }

  .box-line-lgx {
    width: 80%;
  }

  .box-line-lg {
    width: 50%;
  }
}

.list-restaurant .item-restaurant {
  width: 25%;
  padding: 10px;
  float: left;
}

.clearfix:after{
  clear: both;
  content: "";
  display: block;
}

.now-list-restaurant {
  .item-content {
    cursor: pointer;
    border-radius: 6px;
    background-color: $white;
    position: relative;
    display: block;
  }

  a:hover {
    box-shadow: 0 0 10px 5px $light;
  }

  .img-restaurant {
    position: relative;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    height: 137px;
    background: $gray-medium-lighter;
    background: $gray-medium-light;
  }

  .img-restaurant img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .info-restaurant {
    border: 1px solid $gray-medium-light;
    border-radius: 0 0 6px 6px;
    height: 100px;
  }

  .info-basic-res {
    padding: 5px 8px;
    border-bottom: 1px solid $light;
  }

  .info-restaurant .name-res {
    font-size: 14px;
    font-weight: 700;
    color: $darker;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 1px;
    padding-top: 5px;
    margin-top: 5px;
  }

  .info-restaurant .address-res {
    font-size: 12px;
    color: $gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .content-promotion {
    font-size: 13px;
    color: $blue-dark;
    font-weight: 700;
    padding: 8px 8px 5px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .content-promotion .fas {
    color: $red;
  }
}

.fa-tag, .now-list-restaurant .content-promotion .fas {
  padding-right: 5px;
}

.fa, .fas {
  font-weight: 900;
}

.fa, .far, .fas {
  font-family: "Font Awesome 5 Free";
}

.fa, .fab, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-tag:before {
  content: "\f02b";
}

.opentime-status {
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 1;

  .online {
    background-color: $green-dark;
    color: $green-dark;
  }

  .offline {
    background-color: $light;
    color: $light;
  }

  .stt {
    border-radius: 50%;
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: block;
    position: relative;
    z-index: 2;
  }
}

.opentime-status:after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background-color: $white;
  border-radius: 50%;
  z-index: 1;
}

.mt-2, .my-2 {
  margin-top: .5rem!important;
}

.link {
  cursor: pointer;
}

.btn-none {
  color: $blue;
  background-color: transparent;
  border: 0;
}

button, select {
  text-transform: none;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.pr-1, .px-1 {
  padding-right: .25rem!important;
}

.font12 {
  font-size: .75rem!important;
}

.fa-redo:before {
  content: "\f01e";
}

.now-list-restaurant {
  .title-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .title {
    font-size: 16px;
    font-weight: 700;
  }
}

/* login signup container */
.login-container, .signup-container {
  width: 600px;
  margin: auto;
  clear: both;
  padding: 30px 0;

  .content {
    padding: 30px;
    background-color: $white;
  }

  .title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    margin-bottom: 17px;
  }

  .sm-login {
    color: $white;
    background-color: $blue;
  }
}

/* user profile */
.now-navigation-profile {
  background-color: $white;
  border-radius: 4px;
  float: left;
  box-shadow: 0 0 3px $gray-dark;
  width: 320px;
  margin-top: 35px;
  padding: 5px 16px 0;
  min-height: 428px;

  .header-profile {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .avatar-circle {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: $gray-medium-lighter;
  }

  a {
    color: $gray-dark;
  }

  a.active {
    cursor: default;
  }

  .item-navigation.active {
    color: $red;
  }

  .item-navigation:last-child {
    border: 0;
  }

  .item-navigation {
    font-size: 13px;
    text-transform: none;
    color: $gray-dark;
    border-bottom: 1px solid $gray-medium-lighter;
    display: block;
    padding: 10px 0;
    position: relative;

    .far, .fas {
      font-size: 16px;
      width: 20px;
      text-align: center;
    }

    .fa-user:before {
      content: "\f007";
    }

    .fa-shopping-cart:before {
      content: "\f07a";
    }

    .fa-file-alt:before {
      content: "\f15c";
    }

    .fa-map-marker-alt:before {
      content: "\f3c5";
    }

    .nav-icon-arrow-thin {
      border: solid $darker;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
    }

    .nav-icon-arrow-thin.right {
      transform: rotate(-45deg);
    }

    .nav-icon-arrow-thin.down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    .nav-icon-arrow-thin {
      border-width: 0 1px 1px 0;
      margin-right: 5px;
    }

    .col {
      padding-left: 0;
    }
    .col:hover {
      color: $red;
    }
  }

  .item-navigation:last-child {
    border: 0;
  }

  .item-navigation:last-child:after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $white;
  }

  .sub-navigation {
    border-top: 1px solid $gray-medium-lighter;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: -10px;

    .item-navigation:last-child:after {
      width: 0;
    }
  }
}

.now-navigation-profile .sub-navigation .item-navigation.active .nav-icon-arrow-thin,
.now-navigation-profile .sub-navigation .item-navigation:hover .nav-icon-arrow-thin,
.now-navigation-profile .item-navigation:hover .nav-icon-arrow-thin {
  border-color: $red;
}

.now-detail-profile {
  float: right;
  width: 827px;
  min-height: 428px;
  position: relative;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 $gray-dark;
  margin-top: 35px;

  .header-user-profile {
    font-size: 18px;
    color: $black;
    font-weight: 700;
    padding: 16px 15px;
    border-bottom: 1px solid $gray-medium-lighter;
    position: relative;
    background: $gray-medium-lighter;
  }

  .user-profile-update {
    padding: 30px;
    position: relative;

    .title-user {
      font-weight: 700;
      font-size: 15px;
      color: $blue-medium-dark;
      padding-bottom: 20px;
      position: relative;
    }

    .user-avatar-image img {
      width: 115px;
      height: 115px;
      border-radius: 50%;
    }

    .restaurant-avatar-image img{
      width: 480px;
      height: 300px;
    }

    .upload-res-avt .col-4 {
      height: 70px;
      top: 230px;
      text-align: center;
    }

    .custom-file-image {
      display: inline-block;
      margin-left: 3px;

    }

    .label-custom {
      color: $black;
      font-size: 14px;
      cursor: pointer;
      background-color: $gray-medium-lighter;
      text-transform: capitalize;
      padding: 3px 18px 4px;
      border-radius: 3px;
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  .user-profile-update:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 30px;
    height: 1px;
    background-color: $gray-medium-light;
  }
}

.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-8 {
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.btn-blue-4 {
  color: $white;
  background-color: $blue-dark;
}

.form-group {
  margin-bottom: 1rem;
}

.input-group>.custom-file, .input-group>.custom-select,
.input-group>.form-control {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.form-control {
  display: block;
  width: 100%;
  padding: .23rem .6rem;
  font-size: .875rem;
  line-height: 1.5;
  color: $gray-medium-dark;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid $gray-medium-light;
  border-radius: 3px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.font-italic {
  font-style: italic!important;
}

/* restaurant info*/
.now-detail-restaurant {
  background-color: $white;
  padding-top: 30px;
}

.now-detail-restaurant {
  .detail-restaurant-img {
    width: 480px;
    height: 300px;
    position: relative;
    float: left;
  }

  .detail-restaurant-img img {
    width: 100%;
    height: 100%;
  }

  .breadcrumb {
    padding-left: 0;
    margin-bottom: 18px;
    list-style: none;
    overflow: hidden;
    margin-top: -2px;
    .breadcrumb-item {
      float: left;
      position: relative;
      padding-right: 4px;
    }

    .breadcrumb-link {
      font-size: 13px;
      color: $blue-dark;
    }

    .breadcrumb-item:after {
      content: "\BB";
      color: $blue;
      display: inline-block;
      padding-left: 4px;
    }
  }

  .kind-restaurant {
    font-size: 11px;
    color: $gray;
    text-transform: uppercase;
  }

  .name-restaurant {
    font-size: 22px;
    color: $gray-dark;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 4px;
  }

  .address-restaurant {
    font-size: 13px;
    margin-bottom: 2px;
  }

  .rating {
    margin-bottom: 4px;
    font-size: 14px;
  }
}

img {
  vertical-align: middle;
  border-style: none;
}

.detail-restaurant-info {
  color: $darker;
  float: right;
  width: 645px;
  padding-bottom: 15px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.rating {
  font-size: 18px;
  vertical-align: middle;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
  .stars {
    font-size: 14px;
    color: $yellow;
    display: inline-block;
  }

  .stars>span {
    padding-right: 2px;
  }
}

.fa-star:before {
  content: "\f005";
}

.fa-star-half-alt:before {
  content: "\f5c0";
}

.now-detail-restaurant .rating .number-rating {
  background-color: $yellow;
  padding: 0 5px;
  border-radius: 4px;
  color: $white;
  margin: 0 5px;
}

.rating:after {
  display: block;
  clear: both;
  content: "";
}

.now-detail-restaurant .view-more-rating {
  margin-bottom: 4px;
}

.now-detail-restaurant .number-review {
  font-size: 14px;
}

.now-detail-restaurant .status-restaurant {
  margin-bottom: 6px;
}

.now-detail-restaurant .opentime-status {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
}

.opentime-status {
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 1;
}

.now-detail-restaurant .opentime-status .stt {
  width: inherit;
  height: inherit;
  vertical-align: middle;
  display: inline-block;
  background-color: transparent;
}

.opentime-status .offline {
  background-color: $green-dark;
  color: $green-dark;
}

.opentime-status .stt {
  border-radius: 50%;
  cursor: pointer;
  width: 15px;
  height: 15px;
  display: block;
  position: relative;
  z-index: 2;
}

.now-detail-restaurant .opentime-status .offline:before {
  background-color: $green-dark;
}

.now-detail-restaurant .opentime-status .stt:before {
  content: "";
  border-radius: 50%;
  cursor: pointer;
  width: 8px;
  height: 8px;
  display: inline-block;
  position: relative;
  top: -1px;
  z-index: 2;
}

.now-detail-restaurant .opentime-status .stt:after {
  content: attr(title);
  font-size: 15px;
  display: inline-block;
  white-space: nowrap;
  color: inherit;
  padding-left: 5px;
}

.opentime-status:after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background-color: $white;
  border-radius: 50%;
  z-index: 1;
}

.now-detail-restaurant .cost-restaurant {
  color: $gray;
  font-size: 15px;
}

.now-detail-restaurant .cost-restaurant .fas {
  text-align: center;
  font-size: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid;
  border-radius: 50%;
  line-height: 15px;
  vertical-align: top;
  margin-top: 3px;
}

.fa-dollar-sign:before {
  content: "\f155";
}

.now-detail-restaurant .share-social {
  position: relative;
  padding-top: 7px;
  padding-bottom: 7px;
}

.now-detail-restaurant .link-merchant {
  margin-bottom: 8px;
}

.now-detail-restaurant .link-merchant:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 4px;
  left: 6px;
  background-image: url(/app/assets/img/bg-icon.png?2404d5c…);
  background-position: -192px -15px;
  background-repeat: no-repeat;
}

.share-social-box {
  display: inline-block;
}

.now-detail-restaurant .utility-restaurant {
  border-top: 1px solid $light;
}

.now-detail-restaurant .utility-restaurant .utility-item:first-child {
  padding-left: 0;
}

.now-detail-restaurant .utility-restaurant .utility-item {
  float: left;
  width: 140px;
  position: relative;
  padding: 10px;
  margin-bottom: 30px;
}

.now-detail-restaurant .utility-restaurant .utility-title {
  color: $gray;
  font-size: 13px;
  text-transform: uppercase;
}

.now-detail-restaurant .utility-restaurant .utility-content {
  font-size: 14px;
}

.txt-red, .txt-red-dark {
  color: $red!important;
}

.now-detail-restaurant .utility-restaurant .icon-verify-merchant {
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.now-detail-restaurant .utility-restaurant .utility-item:first-child:after {
  width: 0;
  height: 0;
}

.now-detail-restaurant .utility-restaurant .utility-item:after {
  content: "";
  width: 1px;
  height: 20px;
  position: absolute;
  top: 22px;
  left: 0;
  background-color: $light;
}

/* restaurant menu */
.relative {
  position: relative!important;
}

.now-menu-restaurant {
  width: 845px;
  margin-bottom: 20px;
  min-height: 226px;
  float: left;
}

.now-menu-restaurant .menu-restaurant-tab .item.active {
  font-weight: 700;
  color: $red;
  cursor: default;
}

.now-menu-restaurant .menu-restaurant-tab .item.active {
  font-weight: 700;
  color: $red;
  cursor: default;
}

.now-menu-restaurant .menu-restaurant-tab .item {
  color: $gray-medium-dark;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  padding: 13px 26px;
}

.menu-restaurant-content-tab {
  position: relative;
}

.now-menu-restaurant .menu-restaurant-category {
  position: absolute;
  top: 0;
  left: 0;
}

.menu-restaurant-category {
  border: 1px solid $light;
  padding: 15px 5px 15px 15px;
  width: 235px;
  margin-right: 10px;
  background: $white;
  border-radius: 4px;
}

.menu-restaurant-category .list-category {
  position: relative;
}

.menu-restaurant-category .scrollbar-container {
  max-height: calc(100vh - 100px);
  position: relative;
}

.ps {
  overflow: hidden!important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

.menu-restaurant-category .list-category .item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 0;
  padding: 2px 0;
}

.menu-restaurant-category .list-category .item-link {
  font-size: 13px;
  display: inline-block;
  color: $gray-medium-dark;
  text-transform: uppercase;
  padding: 3px 7px 1px;
  border-radius: 4px;
  cursor: pointer;
}

.ps__rail-x, .ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear,opacity .2s linear;
  -webkit-transition: background-color .2s linear,opacity .2s linear;
  position: absolute;
}

.ps__rail-x {
  height: 15px;
  bottom: 0;
}

.ps__thumb-x, .ps__thumb-y {
  background-color: $gray-medium-light;
  border-radius: 6px;
  position: absolute;
}

.ps__thumb-x {
  transition: background-color .2s linear,height .2s ease-in-out;
  -webkit-transition: background-color .2s linear,height .2s ease-in-out;
  height: 6px;
  bottom: 2px;
}

.ps__rail-y {
  width: 15px;
  right: 0;
}

.ps__thumb-y {
  transition: background-color .2s linear,width .2s ease-in-out;
  -webkit-transition: background-color .2s linear,width .2s ease-in-out;
  width: 6px;
  right: 2px;
}

.menu-restaurant-detail {
  top: 70px;
  width: 590px;
  padding: 0px 15px;
  float: right;
  border: 1px solid $light;
  border-radius: 4px;
  background: $white;
}

.menu-restaurant-detail .promotions-order {
  display: block!important;
}

.menu-restaurant-detail .promotions-order {
  background-color: $pink-light;
  position: relative;
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
  border: 1px dashed $gray-dark;
  padding: 2px 15px 0 89px;
  display: none;
}

.menu-restaurant-detail .promotions-order .promotion-item {
  padding: 8px 75px 0 0;
  position: relative;
  cursor: pointer;
}

.menu-restaurant-detail .promotions-order .icon-promotion {
  height: 40px;
  width: 40px;
  text-align: center;
  position: absolute;
  left: -74px;
  top: -3px;
  bottom: 0;
  margin: auto;
}

.menu-restaurant-detail .promotions-order .promotion-item .content {
  position: relative;
  border-bottom: 1px solid $gray-yellow;
  padding-top: 10px;
  min-height: 55px;
}

.menu-restaurant-detail .promotions-order .promotion-item {
  padding: 8px 75px 0 0;
  position: relative;
  cursor: pointer;
}

.menu-restaurant-list, body {
  position: relative;
}

.menu-restaurant-list .search-items {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  background: $white;
  z-index: 2;
  padding: 15px 0 10px;
}

.menu-restaurant-list .search-items .input-group {
  margin: 0;
  position: relative;
  color: $gray-dark;
}

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.menu-restaurant-list .search-items .input-group .fa-search {
  left: 0;
}

.menu-restaurant-list .search-items .input-group i {
  position: absolute;
  padding: 15px;
  line-height: 10px;
}

.fa-search:before {
  content: "\f002";
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

.wrapper input[type=color], .wrapper input[type=date],
.wrapper input[type=datetime-local], .wrapper input[type=datetime],
.wrapper input[type=email], .wrapper input[type=month],
.wrapper input[type=number], .wrapper input[type=password],
.wrapper input[type=search], .wrapper input[type=tel],
.wrapper input[type=text], .wrapper input[type=time],
.wrapper input[type=url], .wrapper input[type=week], .wrapper select:focus,
.wrapper textarea {
  font-size: 16px;
}

.menu-restaurant-list .search-items .input-group input {
  width: 100%;
  padding: 0 40px;
  border: 0;
  border: 1px solid $light;
  height: 40px;
}

#restaurant-item {
  .food_list{
    box-sizing: border-box;
    direction: ltr;
    height: auto;
    position: relative;
    width: 558px;
    will-change: transform;
    overflow: auto;
    outline: none;
  }

  .food_list_container {
    width: auto;
    height: auto;
    max-width: 558px;
    max-height: 1755px;
    overflow: hidden;
    position: relative;
    ul {
      list-style: none;
      padding-inline-start: 0px;
    }
    ul li {
      display: inline-flex;
      width: 100%;
    }
  }
}

.menu-restaurant-list .item-restaurant-row {
  display: inline-block;
  padding-top: 10px;
  border-bottom: 1px solid $gray-light;
  padding-bottom: 10px;
  height: 81px;
  left: 0px;
  width: 100%;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9,
.col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2,
.col-lg-3,.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1,
.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
.col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
.col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto,
.col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6,
.col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  min-width: 0;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.menu-restaurant-list .item-restaurant-row .item-restaurant-img button {
  background: none!important;
  color: inherit;
  border: none;
  padding: 0!important;
  font: inherit;
  cursor: pointer;
}

.item-restaurant-row {
  .item-restaurant-img img {
    width: 60px;
    height: 60px;
  }

  .item-restaurant-name {
    color: $gray-dark;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.3em;
    font-weight: 700;
  }

  .item-restaurant-desc {
    font-size: 13px;
    color: $gray-dark;
    display: block;
    line-height: 1.6em;
  }

  .item-restaurant-total {
    font-size: 11px;
    color: $gray;
  }

  .item-restaurant-total .txt-bold {
    color: $gray-dark;
  }

  .old-price {
    font-size: 13px;
    text-decoration: line-through;
    color: $gray-medium-dark;
  }

  .current-price {
    font-size: 16px;
    font-weight: 700;
    color: $blue;
  }
}

.txt-bold {
  font-weight: 700!important;
}

.food_price, .amount {
  font-weight: 400;
  position: relative;
  top: -9px;
  font-size: 10px;
  right: 0;
}

.txt-right {
  text-align: right!important;
}

.btn-adding {
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
  line-height: 20px;
  width: 22px;
  height: 22px;
  background-color: $red;
}

.btn-adding, .btn-over {
  text-align: center;
  color: $white;
  display: inline-block;
  border-radius: 4px;
}

.menu-restaurant-content-tab:after {
  content: "";
  display: block;
  clear: both;
}

.now-bill-restaurant {
  background-color: $white;
  border-radius: 4px;
  border: 1px solid $light;
  position: absolute;
  top: 48px;
  right: 10px;
  width: 315px;
}

.now-bill-restaurant .bill-restaurant-header {
  border-bottom: 1px solid $light;
  padding: 7px 10px;
  position: relative;
}

.now-bill-restaurant .cart-stats {
  border: 0;
}

.now-bill-restaurant .cart-stats {
  font-size: 12px;
  cursor: pointer;
  color: $blue-dark;
  background: $light;
  padding: 2px 8px;
  border-radius: 2px;
  float: left;
  display: block;
}

.now-bill-restaurant .btn-reset {
  float: right;
}

.now-bill-restaurant .btn-condition, .now-bill-restaurant .btn-order-group {
  float: right;
  margin-right: 5px;
}

.btn-order-group {
  font-size: 11px;
  color: $white;
  cursor: pointer;
  line-height: 22px;
  display: inline-block;
  padding: 0 7px;
  background-color: $blue-darker;
  border-radius: 2px;
}

.now-bill-restaurant .create-order {
  font-size: 11px;
  font-style: italic;
  padding-top: 6px;
  clear: both;
}

.now-bill-restaurant .now-order-card-group {
  color: $gray-dark;
  max-height: 300px;
  overflow-y: auto;
}

.now-order-card-group .order-card-item {
  padding: 6px 10px;
  border-bottom: 1px solid $gray-medium-lighter;
}

.fa-plus-square {
  color: $green-dark;
  border: 0;
  background: transparent;
  padding: 0;
}

.fa-plus-square:before {
  content: "\f0fe";
}

.number-order {
  font-size: 12px;
  color: $red-fire-engine;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  min-width: 18px;
}

.fa-minus-square {
  color: $gray-dark;
  border: 0;
  background: transparent;
  padding: 0;
}

.fa-minus-square:before {
  content: "\f146";
}

.name-order {
  font-size: 13px;
  font-weight: 700;
  color: $gray-dark;
}

.price-order {
  font-size: 13px;
  float: right;
}

.txt-blue {
  color: $blue!important;
}

.now-bill-restaurant .block-tooltip {
  font-size: 13px;
  position: absolute;
  bottom: 100%;
  right: 60px;
  background: $gray-dark;
  color: $white;
  padding: 6px 15px;
  border-radius: 5px;
  border: 1px dashed $gray;
  margin-bottom: 10px;
}

.now-bill-restaurant .block-tooltip .close {
  font-size: 13px;
  font-weight: 400;
  opacity: 1;
  text-shadow: none;
  position: absolute;
  top: 0;
  right: 2px;
  color: $white;
  padding: 0 3px;
  cursor: pointer;
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.close {
  float: right;
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 1;
  color: $black;
  text-shadow: 0 1px 0 $white;
  opacity: .5;
}

.now-bill-restaurant .block-tooltip:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 30px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid $gray-dark;
}

.now-bill-restaurant .bill-restaurant-header:after {
  content: "";
  display: block;
  clear: both;
}

.now-bill-restaurant .now-order-card-group {
  color: $gray-dark;
  max-height: 300px;
  overflow-y: auto;
}

.now-bill-restaurant .row-bill-restaurant {
  font-size: 13px;
  padding: 4px 10px;
  background-color: $gray-light;
  border-bottom: 1px solid $light;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.txt-bold {
  font-weight: 700!important;
}

.now-bill-restaurant .input-promocode {
  background-color: $pink-light;
}

.now-bill-restaurant .input-promocode:before {
  content: "(*)";
  color: $red;
  font-size: 8px;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
}

.font16 {
  font-size: 1rem!important;
}

.txt-blue {
  color: $blue!important;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.fa-check-circle:before {
  content: "\f058";
}

.now-bill-restaurant .btn-red {
  font-size: 15px;
  margin: 12px 10px 15px;
  display: block;
  width: calc(100% - 20px);
}

.btn-red {
  background-color: $red;
  color: $white;
  border-color: $red;
}

/* footer */
.main-footer {
  clear: both;
}

.fab {
  font-family: "Font Awesome 5 Brands";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-apple:before {
  content: "\179";
}

.main-footer .container-inner {
  padding-top: 32px;
  padding-bottom: 25px;
  overflow: hidden;
  clear: both;
}

.main-footer .block-footer:first-child {
  padding-left: 28px;
}

.main-footer .block-footer {
  width: 241px;
  float: left;
  color: $gray;
}

.main-footer .block-footer:first-child .title-block {
  margin-bottom: 10px;
}

.main-footer .title-block {
  font-weight: 700;
  color: $darker;
}

.main-footer .menu-footer {
  line-height: 25px;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

dl, ol, ul {
  margin-top: 0;
}

address, dl, ol, ul {
  margin-bottom: 1rem;
}

.main-footer .menu-item {
  cursor: pointer;
  color: $gray;
  font-size: 13px;
}

.main-footer .apps {
  font-size: 15px;
  color: $gray-dark;
  background-color: $white;
  cursor: pointer;
  border: 1px solid $gray-medium-light;
  box-shadow: 0 0 1px 0 $light;
  width: 120px;
  padding: 5px 0;
  margin-bottom: 14px;
  -webkit-transition: all .2s linear;
  display: block;
}

.main-footer .logo-footer {
  margin-top: 14px;
  margin-bottom: 17px;
}

.link {
  cursor: pointer;
}

.main-footer .logo-footer img {
  max-width: 77px;
}

.main-footer .social-ico {
  margin-top: 20px;
  padding-left: 0;
}

.main-footer .social-ico li {
  display: inline-block;
  padding: 0 8px;
}

.main-footer .social-ico .ico {
  font-size: 16px;
  color: $white;
  cursor: pointer;
  line-height: 30px;
  display: inline-block;
  background-color: $gray;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-transition: all .2s linear;
}

.main-footer .block-last {
  text-align: right;
  float: right;
  padding-top: 14px;
  padding-right: 30px;
}

.main-footer .block-last .title-block {
  margin-bottom: 4px;
  font-size: 14px;
}

.main-footer .block-last p {
  font-size: 12px;
  margin-bottom: 2px;
  margin-top: 0;
}

.main-footer .title-block {
  font-weight: 700;
  color: $darker;
  margin-bottom: 15px;
}

.main-footer .registered {
  width: 177px;
  margin-top: 14px;
  display: inline-block;
}

.main-footer .block-last {
  text-align: right;
  float: right;
  padding-top: 14px;
  padding-right: 30px;
}

.main-footer .apps .fab {
  font-size: 25px;
  padding: 0 12px 0 13px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid $gray;
  width: 100%;
  margin-bottom: 15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  .form-control {
    color: $state-danger;
  }
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
      text-align: center;
    }
  }
}

.modal, .modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  outline: 0;
}

.modal-order {
  z-index: 1049;
}

.modal-order, .modal-order-promo-code {
  padding-top: 30px;
}

.fade {
  transition: opacity .15s linear;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
}

.modal-dialog-centered {
  min-height: calc(100% - 3.5rem);
}

.modal-dialog {
  width: 100%;
  max-width: 100%;
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translateY(-25%);
}

.modal.show .modal-dialog {
  transform: translate(0);
  margin-top: 5%;
}

.modal.show .modal-dialog.modal-dialog-centered {
  margin-top: 0;
  padding-top: 2%;
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid $gray-medium-lighter;
  border-radius: .3rem;
  outline: 0;
}

.close {
  float: right;
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 1;
  color: $black;
  text-shadow: 0 1px 0 $white;
  opacity: .5;
}

.modal .close {
  color: $dark-blue;
  cursor: pointer;
  text-shadow: none;
  font-size: 0;
  line-height: 14px;
  position: absolute;
  top: -22px;
  left: auto;
  right: 0;
  z-index: 99;
  font-weight: 400;
  opacity: 1;
  background-position: -401px -335px;
}

.modal-content {
  margin: auto;
}

.modal-order-detail {
  font-size: 13px;
}

.modal-content.edit-info-order, .modal-content.modal-get-local, .modal-content.modal-order-detail {
  width: 600px;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid $gray-medium-light;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.modal-order-detail .modal-header {
  font-size: 16px;
  font-weight: 700;
  background-color: $light;
  color: $black;
  padding: 7px 10px;
  position: relative;
  border: 0;
  border-radius: 5px 5px 0 0;
}

.title-popup-order {
  font-size: 16px;
  font-weight: 700;
  color: $black;
  margin: 0;
  padding: 7px 10px;
  cursor: pointer;
  position: relative;
}

.icon-arrow-thin {
  border: solid $darker;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.icon-arrow-thin {
  font-size: 22px;
  border-color: $secondary;
  position: absolute;
  top: 17px;
  right: 10px;
}

.icon-arrow-thin.right {
  transform: rotate(-45deg);
}

.order-list {
  max-height: 92px;
  overflow-y: auto;
}

.order-list .order-item {
  color: $darker;
  position: relative;
  padding: 4px 0;
}

.order-item .order-item-number {
  font-size: 12px;
  text-align: center;
  color: $white;
  position: absolute;
  top: 7px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-color: $primary;
  line-height: 14px;
  border-radius: 4px;
  padding-top: 1px;
}

.order-item-info {
  padding-left: 30px;
  padding-right: 65px;
}

.order-item-name {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.order-item-price {
  font-size: 14px;
  position: absolute;
  top: 6px;
  right: 10px;
}

.order-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  height: 1px;
  background-color: $light;
}

.info-order {
  border-top: 7px solid $gray-medium-light;
  padding: 4px 10px;
}

.txt-red, .txt-red-dark {
  color: $red!important;
}

fa-question-circle {
  color: $secondary;
}

.fa-question-circle:before {
  content: "\f059";
}

.note-order {
  padding: 7px 10px 0;
  position: relative;
}

.padding-10 {
  padding: 10px;
}

.payment-methods {
  cursor: pointer;
  background-color: $pink-light;
  padding: 7px 25px 7px 10px;
  position: relative;
}

.payment-methods .icon-arrow-thin {
  top: 6px;
  right: -5px;
}

.order-note {
  padding: 7px 10px 0;
  position: relative;
}

.order-note textarea {
  font-size: 15px;
  min-height: inherit;
  overflow-y: hidden;
  resize: none;
  padding: 0 25px 0 0;
  height: 30px;
  width: 100%;
  max-width: 100%;
  border: 0;
  border-bottom: 1px solid $light;
  margin: 0;
  transition: all .2s;
  height: 24px;
}

.not-vat {
  color: $secondary;
  padding: 10px;
}

.not-vat .icon {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.icon-vatnot {
  width: 20px;
  height: 20px;
  background-position: -15px -358px;
}

.modal-footer {
  text-align: center;
  clear: both;
  position: relative;
  background-color: $light;
  padding: 7px;
  border-radius: 0 0 5px 5px;
}

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 15px;
}

.modal-footer .submit-order {
  font-size: 16px;
  font-weight: 700;
  display: block;
  padding: 10px 0;
  cursor: pointer;
  transition: all .2s ease;
  width: 100%;
  border-radius: 5px;
}

.modal-footer .submit-order {
  color: $white;
  background-color: $primary;
}

.fa-arrow-right:before {
  content: "\f061";
}

.modal-footer .total-price {
  position: absolute;
  top: 17px;
  right: 20px;
  font-weight: 400;
}

.money_unit{
  font-weight: 400;
  position: relative;
  top: -9px;
  font-size: 10px;
  right: 0;
}

.order-item-price span{
  font-weight: 400;
  position: relative;
  top: -9px;
  font-size: 10px;
  right: 0;
}

.slick-track {
  opacity: 1; transform: translate3d(0px, 0px, 0px);
}
